@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family:'Outfit' ;
}
select,input,textarea{
  border:1px solid #c2c2c2;
  outline-color: cda89a;
  border-radius: 4px;
}

.active{
  background-color: #cda89a;
  border-color:black;
}