services:

  backend:
    build: ./backend
    container_name: rooth-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: rooth-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  admin:
    build: ./admin
    container_name: rooth-admin
    ports:
      - "3001:80"
    depends_on:
      - backend