version: "3"

services:

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  admin:
    build: ./admin
    ports:
      - "3001:80"
    depends_on:
      - backend
